/* General container */
.App {
  font-family: "Avenir Next", sans-serif;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  width: 544px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Main image at the top */
.mainPic {
  width: 100%;
  height: 272px;
  object-fit: cover;
}

/* Content section below the image */
.mainContent {
  padding: 16px;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}

/* Header container: building icon, title, and psf in one line */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  margin-top: 10px;
}

/* Building icon, title, and address container */
.header-left {
  display: flex;
  align-items: center;
}

/* Building icon size and margin */
.buildingIcon {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  margin-bottom: 12px;
}

/* Title */
.title {
  font-size: 23px;
  font-weight: 600;  /* Demi Bold */
  color: #1A2258;
  margin: 0;
}

/* Address, placed below the title */
.subdetails {
  font-size: 14px;
  font-weight: 400;  /* Regular */
  color: #787D9C;
  margin-top: 4px;
}

/* Right side: psf */
.psf {
  font-size: 19px;
  font-weight: 600;  /* Demi Bold */
  color: #1A2258;
  margin: 0;
  text-align: right;
}

/* Subprice label, placed below psf */
.subprice_label {
  font-size: 14px;
  font-weight: 400;  /* Regular */
  color: #787D9C;
  margin-top: 4px;
  text-align: right;
}

/* Brief description below the header */


.brief_desc {
  font-size: 16px;
  font-weight: 400;  /* Regular */
  color: #1A2258;
  margin-bottom: 4px;
  margin-top: 0px;
}

/* Move "See description" button to the right and align with header */
.button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: transparent;
  border: none;
  color: #2979ff;
  font-weight: 600;  /* Demi bold */
  font-size: 16px;  /* Font size 16px */
  cursor: pointer;
  margin-top: 8px;
}

/* Description container styling */
.description-container {
  height: 0;
  overflow: hidden;
  transition: height 0.6s ease-in-out, opacity 0.6s ease-in-out;
  opacity: 0;
}

.description-container.show {
  height: auto; /* Allow the content to take its full height */
  opacity: 1;
}

/* Description text - preserve spaces and line breaks */
.description-text {
  font-size: 14px;
  font-weight: 400;
  color: #1A2258;
  padding: 8px 0;
  white-space: pre-wrap; /* This ensures that spaces and line breaks are preserved */
}

/* Style for clickable phone numbers */
.phone-number {
  color: #2979ff;
  cursor: pointer;
}

/* To make the App height dynamic */
.App {
  height: auto;
}
